const { SlashCommandBuilder } = require('@discordjs/builders');

module.exports = {
    data: new SlashCommandBuilder()
        .setName(/*insira o nome aqui*/)
        .setDescription(/* insira descrição aqui */),
    async execute(interaction) {
        //codigo do comando
    },
};
